<div class="main-content">
  <% if (success_msg) { %>
    <div class="alert alert-success">
      <%= success_msg %>
    </div>
  <% } %>

  <h1>Posts</h1>
  <div class="post-btn">
    <a href="/<%= user.role %>/add-post">Add post</a> 

  
    
  </div>

  <% Posts.forEach(function(Post) { 
    const userInfo = userInfos.find(info => info.User_id.toString() === Post.User_id.toString());
%>
 <div class="post">
   <div class="post-header">
     <img src="/<%= userInfo?.profile_img || 'default.jpg' %>" alt="User" />

     <div>
       <h3><a href='<%= Post.username %>'><%= Post.username %></a></h3>
     </div>
     <p class="timeAgo"><%= timeAgo(new Date(Post.date)) %></p>
   </div>

   <div id="postBox">
    <% if (Post.p_path || Post.img_path) { %>
  <img class="postImg" src="/<%= Post.p_path || Post.img_path %>" alt="img" />
<% } else { %>
  <img class="postImg" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="No image available" />
<% } %>

   </div>

   <div class="post-content">
     <%= Post.description %>
   </div>

   <div class="post-actions">
     <button><i class="fa-solid fa-heart likeBtn"></i><p>0</p></button>
     <button><i class="fa-solid fa-comments noComnt"></i></button>
   </div>

   <div class="comntDisplayNone">
     <div class="comnts-box"></div>
     <input type="text" placeholder="What’s on your mind?" id="comntInput">
   </div>
 </div>
<% }); %>

</div>
