<div class="sidebar">
  <div class="logo">ClassNexus</div>
  <nav>
    <a href="/Student/profile" class="<%= currentPage === 'profile' ? 'active' : '' %>"><i class="fa-solid fa-user"></i>&nbsp;&nbsp;
      Profile
    </a>
    <a href="/Student/posts" class="<%= currentPage === 'posts' ? 'active' : '' %>"><i class="fa-solid fa-image"></i>&nbsp;&nbsp;
      Posts
    </a>
    <a href="/Student/tweets" class="<%= currentPage === 'tweets' ? 'active' : '' %>"><i class="fa-solid fa-pencil"></i>&nbsp;&nbsp;
      Tweet's
    </a>
    <a href="/Student/subjects" class="<%= currentPage === 'Subject' ? 'active' : '' %>"><i class="fa-solid fa-book"></i>&nbsp;&nbsp;
      Subject's
    </a>
    <a href="#" class="<%= currentPage === 'messages' ? 'active' : '' %>"><i class="fa-solid fa-message"></i>&nbsp;&nbsp;
      Messages
    </a>
    <a href="/Logout"><i class="fa-solid fa-right-from-bracket"></i>&nbsp;&nbsp;Logout</a>
  </nav>
</div>